

                                       INTRODUCCIÓN
El problema de la violencia contra las mujeres, ha sido un problema constante dentro de la sociedad mexicana, sin embargo, ha sido hasta los últimos años que la percepción de la violencia ejercida contra las mujeres ha cambiado radicalmente. Esta situación se da sobre todo a partir de que la violencia contra las mujeres pasó de ser un tema del ámbito privado a convertirse en un problema del ámbito público. Este cambio en la forma en que se ve la violencia es fundamental para entender las acciones que se han tomado por parte de los gobiernos de los Estados, los Organismos Internacionales y las Organizaciones de la Sociedad Civil. La puesta de la violencia en la escena pública, permitió entender que era necesario trabajar por su erradicación en contra de las mujeres, ya que representaba un obstáculo para el efectivo goce y ejercicio de sus derechos fundamentales, que permeaba todos los ámbitos de desarrollo. Esta situación implica analizar tanto los casos de violencia, como las políticas públicas implementadas en torno al tema de la atención, detección y erradicación de la violencia contra las mujeres. Por eso mismo es que el equipo técnico del Observatorio decidió integrar en un solo documento el diagnóstico sobre las principales problemáticas de la violencia contra las mujeres y el diagnóstico situacional de las instancias de atención de la violencia contra las mujeres.

A inicios de la década de los noventa la Organización Mundial de la Salud, OMS, el Banco Mundial y el Fondo de Población de las Naciones Unidas, FNUAP, conciben a la violencia contra las mujeres como un problema de salud pública. Además, inicialmente se considera como un tema de derechos humanos de las mujeres en la Conferencia Mundial de Derechos Humanos de Viena, 1993, y en relación con la salud sexual y reproductiva en la Conferencia Internacional sobre Población y Desarrollo de El Cairo, 1994. Otro avance importante fue que La Plataforma para la Acción de la Cuarta Conferencia Mundial sobre la Mujer celebrada en Beijing, 1995, dedicó un capítulo completo a la violencia contra la mujer, dando como resultado una serie de recomendaciones para los gobiernos, las organizaciones multilaterales y no gubernamentales.

En ese sentido, en 1966, el Pacto Internacional de Derechos Civiles y Políticos estipula expresamente la prohibición de las discriminaciones por razón de sexo, y en el mismo año el Pacto Internacional de Derechos Económicos y Sociales de Naciones Unidas retoma expresamente esta prohibición al constatar que aun cuando estos instrumentos tienen eficacia vinculante para los Estados ratificantes el garantizar su eficacia en términos de la discriminación por sexo distaba mucho de la situación ideal para las mujeres. Es así, como la Asamblea General de la ONU aprobó en 1979 la Convención sobre la Eliminación de Todas las Formas de Discriminación Contra las Mujeres, CEDAW, la cual entro en vigor en 1981.

### OBJETIVO:

### identificar las causas de la violencia de género en la ciudad de México aplicando el modelo de regresion lineal  a una base de datos que se generó realizando una encuesta a un conjundo de individuos.













##### INICIAMOS IMPORTANDO  LAS SIGUIENTES LIBRERIAS

In [27]:
import pandas as pd

import numpy as np

import scipy

import statsmodels.api as sm

import matplotlib.pyplot as plt

import seaborn as sns

import sklearn

sns.set()

from sklearn.impute import SimpleImputer

In [2]:
import pandas as pd

RUTA = "C:\\Users\\WIN10\\Desktop\\DS_TOTAL\\Encuesta_violencia.xlsx"

In [4]:
DATASET = pd.read_excel(RUTA)

#### CARGAMOS Y VISUALIZAMOS NUESTRA BASE DE DATOS

In [10]:
DATASET.tail()

,Timestamp,Género,Nivel máximo de estudios,Alcaldía,Edad,¿Has escuchado alguna vez sobre la existencia de la violencia de género?,¿Consideras un problema la violencia de género?,¿Alguna ves has presenciado violencia de género?,¿Donde has presenciado violencia de género?,¿Cuáles crees que podrían ser formas de Violencia de género?,¿Por qué motivo crees que se dé la violencia de género?,¿Dentro de tu núcleo familiar has visto alguna vez violencia de género?,¿Qué te provoca esta encuesta?
662,2021-04-09 10:54:20.656,Mujer,Universidad,Azcapotzalco,19,Sí,Sí,No,Ninguno,Todas las anteriores,Todas las anteriores,No,Me importa
663,2021-04-09 14:24:27.654,Mujer,Universidad,Azcapotzalco,26,Sí,Sí,Sí,En la escuela,Todas las anteriores,"Falta de educacion, Falta de cultura, Nivel ed...",No,Me importa
664,2021-04-09 16:06:01.725,Mujer,Universidad,Gustavo A. Madero,19,Sí,Sí,Sí,En el trabajo,Todas las anteriores,Todas las anteriores,Sí,Me importa
665,2021-04-09 23:51:46.923,Mujer,Universidad,Miguel Hidalgo,20,Sí,Sí,Sí,Todas las anteriores,Todas las anteriores,Falta de educacion,No,Me importa
666,2021-04-12 02:51:00.522,Mujer,Universidad,Gustavo A. Madero,22,Sí,Sí,Sí,Todas las anteriores,Todas las anteriores,Todas las anteriores,Sí,Me importa

In [9]:
DATASET.head(2)

,Timestamp,Género,Nivel máximo de estudios,Alcaldía,Edad,¿Has escuchado alguna vez sobre la existencia de la violencia de género?,¿Consideras un problema la violencia de género?,¿Alguna ves has presenciado violencia de género?,¿Donde has presenciado violencia de género?,¿Cuáles crees que podrían ser formas de Violencia de género?,¿Por qué motivo crees que se dé la violencia de género?,¿Dentro de tu núcleo familiar has visto alguna vez violencia de género?,¿Qué te provoca esta encuesta?
0,2021-03-26 19:19:17.810,Mujer,Maestría,Azcapotzalco,32,Sí,Sí,Sí,"En la familia, En el trabajo, En la escuela, E...","Golpear, empujar, Agredir psicológicamente","Falta de educacion, Negligencia por parte de l...",Sí,Me importa
1,2021-03-26 19:24:59.776,Mujer,Universidad,Gustavo A. Madero,25,Sí,Sí,Sí,"En la familia, En la escuela",Todas las anteriores,"Falta de educacion, Religión, Costumbre familiar",Sí,Indiferencia

In [11]:
## FORMA DEL DATASET

DATASET.shape

(667, 13)

In [71]:
#NOMBRE DE LAS COLUMNAS O CABECERAS 
 
DATASET.columns.tolist()

DATASET.columns.values

array(['Timestamp', 'Género', 'Nivel máximo de estudios', 'Alcaldía',
       'Edad',
       '¿Has escuchado alguna vez sobre la existencia de la violencia de género?',
       '¿Consideras un problema la violencia de género?',
       '¿Alguna ves has presenciado violencia de género?',
       '¿Donde has presenciado violencia de género?',
       '¿Cuáles crees que podrían ser formas de Violencia de género?',
       '¿Por qué motivo crees que se dé la violencia de género?',
       '¿Dentro de tu núcleo familiar has visto alguna vez violencia de género?',
       '¿Qué te provoca esta encuesta?'], dtype=object)

In [178]:
#DETALLE DE LAS COLUMNAS NUMÉRICAS

x5

315

In [28]:
#TIPOS DE DATOS DE LAS COLUMNAS 

DATASET.dtypes

Timestamp                                                                   datetime64[ns]
Género                                                                              object
Nivel máximo de estudios                                                            object
Alcaldía                                                                            object
Edad                                                                                 int64
¿Has escuchado alguna vez sobre la existencia de la violencia de género?            object
¿Consideras un problema la violencia de género?                                     object
¿Alguna ves has presenciado violencia de género?                                    object
¿Donde has presenciado violencia de género?                                         object
¿Cuáles crees que podrían ser formas de Violencia de género?                        object
¿Por qué motivo crees que se dé la violencia de género?                             object
¿Dentro de tu núcleo familiar has visto alguna vez violencia de género?             object
¿Qué te provoca esta encuesta?                                                      object
dtype: object

In [32]:
LISTA = ['¿Has escuchado alguna vez sobre la existencia de la violencia de género?',
       '¿Consideras un problema la violencia de género?',
       '¿Alguna ves has presenciado violencia de género?',
       '¿Donde has presenciado violencia de género?',
       '¿Cuáles crees que podrían ser formas de Violencia de género?',
       '¿Por qué motivo crees que se dé la violencia de género?',
       '¿Dentro de tu núcleo familiar has visto alguna vez violencia de género?',
       '¿Qué te provoca esta encuesta?']

DATASET_NUEVO = DATASET[LISTA].copy()
DATASET_NUEVO.head(2)

,¿Has escuchado alguna vez sobre la existencia de la violencia de género?,¿Consideras un problema la violencia de género?,¿Alguna ves has presenciado violencia de género?,¿Donde has presenciado violencia de género?,¿Cuáles crees que podrían ser formas de Violencia de género?,¿Por qué motivo crees que se dé la violencia de género?,¿Dentro de tu núcleo familiar has visto alguna vez violencia de género?,¿Qué te provoca esta encuesta?
0,Sí,Sí,Sí,"En la familia, En el trabajo, En la escuela, E...","Golpear, empujar, Agredir psicológicamente","Falta de educacion, Negligencia por parte de l...",Sí,Me importa
1,Sí,Sí,Sí,"En la familia, En la escuela",Todas las anteriores,"Falta de educacion, Religión, Costumbre familiar",Sí,Indiferencia

In [35]:
DATASET.columns

Index(['Timestamp', 'Género', 'Nivel máximo de estudios', 'Alcaldía', 'Edad',
       '¿Has escuchado alguna vez sobre la existencia de la violencia de género?',
       '¿Consideras un problema la violencia de género?',
       '¿Alguna ves has presenciado violencia de género?',
       '¿Donde has presenciado violencia de género?',
       '¿Cuáles crees que podrían ser formas de Violencia de género?',
       '¿Por qué motivo crees que se dé la violencia de género?',
       '¿Dentro de tu núcleo familiar has visto alguna vez violencia de género?',
       '¿Qué te provoca esta encuesta?'],
      dtype='object')

In [36]:
DATASET_1_COL = DATASET[["¿Alguna ves has presenciado violencia de género?"]].copy()

DATASET_1_COL.head()
DATASET_1_COL.tail()

    ¿Alguna ves has presenciado violencia de género?
662                                               No
663                                               Sí
664                                               Sí
665                                               Sí
666                                               Sí

In [42]:
DATASET_2_COL = DATASET[['¿Alguna ves has presenciado violencia de género?','Alcaldía']].copy()

DATASET_2_COL.head()

DATASET_2_COL.head()
DATASET_2_COL.tail()

    ¿Alguna ves has presenciado violencia de género?           Alcaldía
662                                               No       Azcapotzalco
663                                               Sí       Azcapotzalco
664                                               Sí  Gustavo A. Madero
665                                               Sí     Miguel Hidalgo
666                                               Sí  Gustavo A. Madero

 ###  ASIGNAMOS LA VARIABLE X, X1.....X8. A CADA PREGUNTA DE LA BASE DE DATOS

In [78]:
COLUMNAS_DUMMY = list(DATASET_EQUIS.select_dtypes(include=["object"]))

COLUMNAS_DUMMY

['X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8']

In [ ]:
DATASET_DUMMY.head()
DATASET_DUMMY.tail

DATASET.DUMMY

In [77]:
DATASET_EQUIS = pd.DataFrame(
    {
       "X1":DATASET_NUEVO["¿Has escuchado alguna vez sobre la existencia de la violencia de género?"],
        "X2":DATASET_NUEVO["¿Consideras un problema la violencia de género?"],
        "X3":DATASET_NUEVO["¿Alguna ves has presenciado violencia de género?"],
         "X4":DATASET_NUEVO["¿Donde has presenciado violencia de género?"],
         "X5":DATASET_NUEVO["¿Cuáles crees que podrían ser formas de Violencia de género?"],
         "X6":DATASET_NUEVO["¿Por qué motivo crees que se dé la violencia de género?"],
         "X7":DATASET_NUEVO["¿Dentro de tu núcleo familiar has visto alguna vez violencia de género?"],
         "X8":DATASET_NUEVO["¿Qué te provoca esta encuesta?"]
    })

DATASET_EQUIS

,X1,X2,X3,X4,X5,X6,X7,X8
0,Sí,Sí,Sí,"En la familia, En el trabajo, En la escuela, E...","Golpear, empujar, Agredir psicológicamente","Falta de educacion, Negligencia por parte de l...",Sí,Me importa
1,Sí,Sí,Sí,"En la familia, En la escuela",Todas las anteriores,"Falta de educacion, Religión, Costumbre familiar",Sí,Indiferencia
2,Sí,Sí,Sí,En la escuela,Todas las anteriores,Todas las anteriores,Tal vez,Me importa
3,Sí,Sí,Sí,Todas las anteriores,Todas las anteriores,Todas las anteriores,Sí,Me importa
4,Sí,Tal vez,No,Ninguno,Todas las anteriores,Falta de educacion,No,Indiferencia
...,...,...,...,...,...,...,...,...
662,Sí,Sí,No,Ninguno,Todas las anteriores,Todas las anteriores,No,Me importa
663,Sí,Sí,Sí,En la escuela,Todas las anteriores,"Falta de educacion, Falta de cultura, Nivel ed...",No,Me importa
664,Sí,Sí,Sí,En el trabajo,Todas las anteriores,Todas las anteriores,Sí,Me importa
665,Sí,Sí,Sí,Todas las anteriores,Todas las anteriores,Falta de educacion,No,Me importa
666,Sí,Sí,Sí,Todas las anteriores,Todas las anteriores,Todas las anteriores,Sí,Me importa

### CONVERTIMOS LOS VALORES CATEGORIOS A NUMÉRICOS USANDO DAMMY

In [90]:
DATASET_DUMMY = pd.get_dummies(DATASET_EQUIS["X1"])

DATASET_DUMMY

     No  Prefiero no contestar  Sí  Tal vez
0     0                      0   1        0
1     0                      0   1        0
2     0                      0   1        0
3     0                      0   1        0
4     0                      0   1        0
..   ..                    ...  ..      ...
662   0                      0   1        0
663   0                      0   1        0
664   0                      0   1        0
665   0                      0   1        0
666   0                      0   1        0

[667 rows x 4 columns]

In [94]:
DATASET_DUMMY_VMP = pd.get_dummies(DATASET_EQUIS["X1"], prefix = "VMP")
DATASET_DUMMY_VMP

DATASET_DUMMY_VMP.head(20)

    VMP_No  VMP_Prefiero no contestar  VMP_Sí  VMP_Tal vez
0        0                          0       1            0
1        0                          0       1            0
2        0                          0       1            0
3        0                          0       1            0
4        0                          0       1            0
5        0                          0       1            0
6        0                          0       1            0
7        0                          0       1            0
8        0                          0       1            0
9        0                          0       1            0
10       0                          0       1            0
11       0                          0       1            0
12       0                          0       1            0
13       0                          0       1            0
14       0                          0       1            0
15       0                          0       1            0
16       0                          0       1            0
17       0                          0       1            0
18       0                          0       1            0
19       0                          0       1            0

In [106]:
DATASET_NUEVO.describe()

,¿Has escuchado alguna vez sobre la existencia de la violencia de género?,¿Consideras un problema la violencia de género?,¿Alguna ves has presenciado violencia de género?,¿Donde has presenciado violencia de género?,¿Cuáles crees que podrían ser formas de Violencia de género?,¿Por qué motivo crees que se dé la violencia de género?,¿Dentro de tu núcleo familiar has visto alguna vez violencia de género?,¿Qué te provoca esta encuesta?
count,667,667,667,667,667,667,667,667
unique,4,3,3,82,67,150,3,19
top,Sí,Sí,Sí,Todas las anteriores,Todas las anteriores,Todas las anteriores,Sí,Me importa
freq,663,646,539,153,488,247,359,580

In [ ]:
DATASET_SUMA = DATASET_NUEVO["X1","X2","X3",].sum()

     X1  X2  X3
0    Sí  Sí  Sí
1    Sí  Sí  Sí
2    Sí  Sí  Sí
3    Sí  Sí  Sí
4    Sí  No  No
..   ..  ..  ..
662  Sí  No  No
663  Sí  Sí  Sí
664  Sí  Sí  Sí
665  Sí  Sí  Sí
666  Sí  Sí  Sí

[667 rows x 3 columns]

In [112]:
DATASET_2_COL = DATASET[['Alcaldía']] .copy()

DATASET_2_COL.head()

DATASET_2_COL.head()
DATASET_2_COL.tail()

              Alcaldía
662       Azcapotzalco
663       Azcapotzalco
664  Gustavo A. Madero
665     Miguel Hidalgo
666  Gustavo A. Madero

  ### OBTENEMOS LA SUMATORIA TOTAL DE LAS VARIABLES X....X8. DE CADA ALCALDÍA

In [123]:
Álvaro_Obregón = 1634
Azcapotzalco   = 1840
Benito_Juárez  = 1478
Coyoacán        = 1581
Cuajimalpa      = 1317
Cuauhtemoc      = 1723
Gustavo_A_Madero = 1699
Iztacalco        = 1732
Iztapalapa = 1823
Magdalena_Contreras = 1600
Miguel_Hidalgo = 1837
Milpa_Alta = 0
Tlahuac = 1118
Tlalpan = 1613
Venustiano_Carranza = 1772
Xochimilco = 1199
otro  = 1808

In [138]:
Y = ( 1634 + 1840 + 1478 + 1581 + 1317 + 1723 + 1699 + 1732 + 1823 + 1600 + 1837 + 0 + 1118 + 1613 + 1772 + 1199 + 1800 )

In [140]:
Alcaldía_Y

3474

In [164]:
Ya_1 = np.array([[1639,1840,1478,1581,1317,1732,1823,1600,1837,0,1118,1613,1772,1199]]).T

In [165]:
Ya_1

array([[1639],
       [1840],
       [1478],
       [1581],
       [1317],
       [1732],
       [1823],
       [1600],
       [1837],
       [   0],
       [1118],
       [1613],
       [1772],
       [1199]])

In [166]:
Ya_0 = np.array([327,161,523,420,684,278,302,269,178,401,164,201,83,388,224,586])

In [167]:
Ya_0

array([327, 161, 523, 420, 684, 278, 302, 269, 178, 401, 164, 201,  83,
       388, 224, 586])

### Las respuestas usadas como variables regresoras a la pregunta.

In [168]:
x1 = 287
x2 = 295
x3 = 332
x4 = 382
x5 = 315
x6 = 259
x7 = 271
x8 = 315

In [176]:
Ya_1= np.array([[1639,1840,1478,1581,1317,1732,1823,1600,1837,0,1118,1613,1772,1199 ]], float)
Ya_0= np.array([327,161,523,420,684,278,302,269,178,401,164,201,83,388,224,586], float)

print(Ya_1,"\n -------------------------------------------------------------------------------")
print(Ya_0,"\n -------------------------------------------------------------------------------")

[[1639. 1840. 1478. 1581. 1317. 1732. 1823. 1600. 1837.    0. 1118. 1613.
  1772. 1199.]]
 -------------------------------------------------------------------------------
[327. 161. 523. 420. 684. 278. 302. 269. 178. 401. 164. 201.  83. 388.
 224. 586.]
 -------------------------------------------------------------------------------

### CALCULANDO EL  MODELO DE REGRESION LINEAL ( MANUAL )

#### en donde: las sig variebles representas la respuesta total por delegacion a las siguientes preguntas

###### A =  " ¿Has escuchado alguna vez sobre la existencia de la violencia de género?"
###### B = ¿Consideras un problema la violencia de género?
###### C = ¿Alguna ves has presenciado violencia de género?
###### D = ¿Por qué motivo crees que se dé la violencia de género?

In [97]:
import pandas as pd
import numpy as np

RUTA = ("C:\\Users\\WIN10\\Desktop\\ESTADISTICA\\ALCALDIA.xlsx")

DATASET_A = pd.read_excel(RUTA)

DATASET_A.head()

     A    B    C    D
0  586  539  479   99
1  661  643  536  137
2  528  513  437  135
3  567  551  463  142
4  470  457  390  155

In [51]:
DATASET_A

      A    B    C    D
0   586  539  479   99
1   661  643  536  137
2   528  513  437  135
3   567  551  463  142
4   470  457  390  155
5   618  602  503  145
6   663  645  391  158
7   622  605  505  141
8   655  637  531  164
9   573  558  469  170
10  660  642  535  170
11  649  632  527  169
12  400  388  330  156
13  577  562  474  138
14  639  621  517  166
15  427  414  358  155

In [332]:
import pandas as pd
import numpy as np

RUTA = ("C:\\Users\\WIN10\\Desktop\\ESTADISTICA\\ALCALDIA.xlsx")

DATASET_A = pd.read_excel(RUTA)

DATASET_A.head()

In [ ]:
VX = "C"

VY = "A"

#ALFA Y BETA

NUMERADOR_BET = sum((DATASET_A[VX]-np.mean(DATASET_A[VX]))*(DATASET_A[VY]-np.mean(DATASET_A[VY])))
NUMERADOR_BET

DENOMIDADOR_BET = sum((DATASET_A[VX]-np.mean(DATASET_A[VX]))**2)
DENOMIDADOR_BET

BET = NUMERADOR_BET / DENOMINADOR_BET
print("BET ----> {}".format(BET))

ALFA = np.mean(DATASET_A[VY]) - BET*np.mean(DATASET_A[VX])
print("ALFA ---->{}".format(ALFA))

print("ECUACION DE LA REGRESION ---> Y = {} + {}X".format(ALFA,BET))


##CÁLUCULO DE LA PREDICCION SOBRE EL DATASET_A

DATASET_A["A_PREDIC"] = ALFA + BET * DATASET_A["C"]


import matplotlib.pyplot as plt


plt.plot(DATASET_A["C"], DATASET_A["A"],"bx")
plt.plot(DATASET_A["C"], DATASET_A["A_PREDIC"],"rx")
plt.title("COMPORTAMENTO DE LOS PUNTOS REALES Y PREDICHOS")
plt.legend()
plt.show


#CALCULO DE SRC, SMC Y STC
 
SMC = sum((DATASET_A["A_PREDIC"]-np.mean(DATASET_A["A"]))**2)

SRC = sum((DATASET_A["A"]-DATASET_A["A_PREDIC"])**2
          
SMC = sum((DATASET_A["A"]-np.mean(DATASET_A["A"]))**2)
          
          print("----------->")

print("print("SMC---->{}".format(SMC))
print("print("SRC---->{}".format(SRC))
print("print("STC---->{}".format(STC))
      
      #CÁLCULO DE R2
      R2 = SMC / STC
      print("------>")
      print("R2 --->{}".format(R2))

      
      #CALCULO DE ERROR ESTANDAR RESIDUAL(ESR)
      ESR = np.sqrt(SRC)/(DATASET_A.shape[]-2))
      print("----------- ")
      print("ESR ---->{}".format(R2))
      
      #CALCULO DE ERROR ESTANDAR PORCENTUAL
      ESR_PORCENT = ESR / np.mean(DATASET["A"])
      print("-------------")
      print("ESR_PORCENT --->{}".format(ESR_PORCENT))

      
      ##COMPORTAMIENTO DE LOS PUNTOS REALES Y LOS PREDICHOS

import matplotb.pytlot as plt

plt.plot(DATASET["C"], DATASET["A"],"bx")
plt.plot(DATASET["C"], DATASET["A_PREDIC"],"rx")
plt.title("COMPORTAMENTO DE LOS PUNTOS REALES Y PREDICHOS")

#COMPORTAMIENTO DE LOS ERRORES
plt.hist(DATASET_A["A_PREDIC"]-DATASET_A["A"],bins = 10)
plt.title("COMPORTAMIENTO DEL ERROR")

### CALCULANDO LA REGRESION LINEAL CON LA LIBRERIA statsmodels

#### en donde: La sumatoria total por delegacion representa las siguientes variables 

###### A =  " ¿Has escuchado alguna vez sobre la existencia de la violencia de género?"
###### B = ¿Consideras un problema la violencia de género?
###### C = ¿Alguna ves has presenciado violencia de género?
###### D = ¿Por qué motivo crees que se dé la violencia de género?

In [5]:
import pandas as pd
import numpy as np

RUTA = ("C:\\Users\\WIN10\\Desktop\\ESTADISTICA\\ALCALDIA.xlsx")

DATASET_A = pd.read_excel(RUTA)

DATASET_A.head()

     A    B    C    D
0  586  539  479   99
1  661  643  536  137
2  528  513  437  135
3  567  551  463  142
4  470  457  390  155

In [15]:
import numpy as np
import statsmodels.formula.api as sfa

In [19]:
REGRESION_C_A = sfa.ols(formula = "A~C",data = DATASET_A).fit()

In [ ]:
REGRESION_A_C_B.params()

In [ ]:
import numpy as np
import statsmodels.formula.api as sfa
REGRESION_C_A = sfa.ols(formula = "A~C",data = DATASET_A).fit()



VX = "C"

VY = "A"

#ALFA Y BETA

NUMERADOR_BET = REGRESION_A_C.params(1)
NUMERADOR_BET

DENOMIDADOR_BET = sum((DATASET_A[VX]-np.mean(DATASET_A[VX]))**2)
DENOMIDADOR_BET

BET = NUMERADOR_BET / DENOMINADOR_BET
print("BET ----> {}".format(BET))

ALFA = np.mean(DATASET_A[VY]) - BET*np.mean(DATASET_A[VX])
print("ALFA ---->{}".format(ALFA))

print("ECUACION DE LA REGRESION ---> Y = {} + {}X".format(ALFA,BET))


##CÁLUCULO DE LA PREDICCION SOBRE EL DATASET_A

DATASET_A["A_PREDIC"] = REGRESION_A.predict(DATASET_A["C"])

import matplotlib.pyplot as plt


plt.plot(DATASET_A["C"], DATASET_A["A"],"bx")
plt.plot(DATASET_A["C"], DATASET_A["A_PREDIC"],"rx")
plt.title("COMPORTAMENTO DE LOS PUNTOS REALES Y PREDICHOS")
plt.legend()
plt.show


#CALCULO DE SRC, SMC Y STC
 
SMC = sum((DATASET_A["A_PREDIC"]-np.mean(DATASET_A["A"]))**2)

SRC = sum((DATASET_A["A"]-DATASET_A["A_PREDIC"])**2
          
SMC = sum((DATASET_A["A"]-np.mean(DATASET_A["A"]))**2)
          
          print("----------->")

print("print("SMC---->{}".format(SMC))
print("print("SRC---->{}".format(SRC))
print("print("STC---->{}".format(STC))
      
      #CÁLCULO DE R2
      R2 = REGRESION_A_C.rsquared
      R2 = SMC / STC
      print("------>")
      print("R2 --->{}".format(R2))

      
      #CALCULO DE ERROR ESTANDAR RESIDUAL(ESR)
      ESR = np.sqrt(SRC)/(DATASET_A.shape[]-2))
      print("----------- ")
      print("ESR ---->{}".format(R2))
      
      #CALCULO DE ERROR ESTANDAR PORCENTUAL
      ESR_PORCENT = ESR / np.mean(DATASET_A["A"])
      print("-------------")
      print("ESR_PORCENT --->{}".format(ESR_PORCENT))

      
      ##COMPORTAMIENTO DE LOS PUNTOS REALES Y LOS PREDICHOS

import matplotb.pytlot as plt

plt.plot(DATASET_A["C"], DATASET_A["A"],"bx")
plt.plot(DATASET_A["C"], DATASET_A["A_PREDIC"],"rx")
plt.title("COMPORTAMENTO DE LOS PUNTOS REALES Y PREDICHOS")

#COMPORTAMIENTO DE LOS ERRORES
plt.hist(DATASET_A["A_PREDIC"]-DATASET_A["A"],bins = 10)
plt.title("COMPORTAMIENTO DEL ERROR")

### como colclusión podemos determinar que la delegacion que más sufre ha sufrido violencia fue la ALCALDÍA AZCAPOTZALCO por negligencia de las autoridades y despues continúa la ALCALDÍA MIGUEL HIDALGO por el tema de NIVEL EDUCATIVO.