## PARTE 4.1 LISTAS 

##### * ES UNA COLECCION DE DATOS MODIFICABLE
##### * PERMITE TENER ELEMENTOS REPETIDOS
##### * PERMITE ALMACENAR DISTINTOS TIPOS DE DATOS
##### * CADA ELEMENTO SE LLAMA ITEM
##### * COLOCAR LOS ELEMENTOS ENTRE  [  ] Y SEPARADOS DE POR COMAS

In [3]:
LISTA1 = [ 3.1415 , 30 , True , "hola" , "chau" ]
print(LISTA1[0])

3.1415

In [4]:
LISTA1 = [ 3.1415 , 30 , True , "hola" , "chau" , "LOBO SE COME A LAS MOSCAS"]
print(LISTA1[0])
print(LISTA1[1])
print(LISTA1[2])
print(LISTA1[3])
print(LISTA1[4])
print(LISTA1[5])

# PRINT(LISTA1[-1])
print(LISTA1[-1])

3.1415
30
True
hola
chau
LOBO SE COME A LAS MOSCAS
LOBO SE COME A LAS MOSCAS

### COPIA INCORRECTA DE UNA LISTA

In [49]:
LISTA1 = [1,2,3]
LISTA2 = LISTA1.copy()

LISTA2.append(4)

print(LISTA1)
print(LISTA2)

[1, 2, 3]
[1, 2, 3, 4]

In [55]:
# COPIA CORRECTA DE UNA LISTA
LISTA1 = [1,2,3]
LISTA1 = LISTA1.copy()

LISTA2.append(6)

print(LISTA1)
print(LISTA2)

[1, 2, 3]
[1, 2, 3, 4, 4, 5, 5, 5, 6]

In [30]:
#LISTA AUTOMATICA
import numpy

LISTA_AUTO = numpy.arange(10)
LISTA_AUTO

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [38]:
#AUTOMÁTICA
import numpy

LISTA_AUTO = numpy.arange(100)
LISTA_AUTO

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [41]:
#SUMA DE LISTAS 
LISTA1 = [1,2,3]
LISTA2 = [3,4,5,6]
LISTA3 = LISTA1 + LISTA2
LISTA3

[1, 2, 3, 3, 4, 5, 6]

In [42]:
#MODIFICACIÓN DE LISTAS
LISTA1 = [1,2,3]
LISTA1[0] = 10
LISTA1

[10, 2, 3]

In [45]:
LISTA1 = [1,2,3,4,5,6,7,8,9]
LISTA1[0] = 10
LISTA1[1] = 20
LISTA1[2] = 30
LISTA1

[10, 20, 30, 4, 5, 6, 7, 8, 9]

In [47]:
#CANTIDAD DE ELEMENTOS
LISTA = [1,2,3,4,5,6,7,8]
print(len(LISTA1))

9

In [49]:
#LISTA DE LISTAS
LISTA1 = [1,2,3]
LISTA2 = [4,5,6]
LISTA3 = [7,8,9]

LISTA4 = [LISTA1 , LISTA2 , LISTA3 ]
LISTA4[0]

[1, 2, 3]

## funciones de una lista

In [52]:
#APPEND --> AGREGAR UN ELEMENTO AL FINAL 
LISTA1 = [1,2,3]
LISTA1.append(5)
LISTA1

[1, 2, 3, 5]

In [57]:
# APPEND --> ELIMINA UN ELEMENTO AL FINAL DE LA LISTA 
LISTA1 = [1,2,3]
LISTA1.pop()
LISTA1.pop()
LISTA1.pop()
LISTA1

[]

In [58]:
#CREAR --> ELIMINAR TODOS LOS ELEMENTOS
LISTA1 = [1,2,3]
LISTA1.clear()
LISTA1

[]

In [61]:
#EXTEND ---> AGREGA UNA LISTA AL FINAL
LISTA1 = [1,2,3]
LISTA2 = [4,5,6]

LISTA2.extend(LISTA1)
LISTA2

[4, 5, 6, 1, 2, 3]

In [66]:
#COUNT --> DEVUELVE LA CANTIDAD DE VECES QUE APARECE UN ELEMENTO
LISTA1 = [1,2,3,4,3,3,3,3]
LISTA1.count(7)

0

In [82]:
#INDEX ---> DEVUELVE EL INDICE DE DETERMINADO ELEMENTO
LISTA2 = [4,5,6,8,9,10,11,12,13]
LISTA2.index(12)

7

In [86]:
#INSERT ---> INSERTAR UN ELEMENTO EN POSICION 
LISTA2 = [4,5,6,7,8,9]
LISTA2.insert(5,10)
LISTA2

[4, 5, 6, 7, 8, 10, 9]

In [87]:
#POP ---> ELIMINAR ELEMENTO EN POSICION 
LISTA2 = [4,5,6,7,8,9]
LISTA2.pop(3)
LISTA2

[4, 5, 6, 8, 9]

In [96]:
#REMOVE ---> ELIMINAR UN ELEMENTO POR VALOR 
LISTA2 = [4,5,6,7,7,7,7,7,7,7,7,8,9]
LISTA2.remove(7)
LISTA2

[4, 5, 6, 7, 7, 7, 7, 7, 7, 7, 8, 9]

In [97]:
#REVERSE ---> REVERTIR UNA LISTA
LISTA2 = [4,5,6,7,8]
LISTA2.reverse()
LISTA2

[8, 7, 6, 5, 4]

In [1]:
#ORDENAR UNA LISTA EN ORDEN ASCENDENTETE
LISTA2 = [4,5,7,6,8]

## 4.2 TUPLAS

##### * ES UNA COLECCION DE DATOS INMUTABE
#### * PERMITE TENER ELEMENTOS REPETIDOS 
#### * PERMITE ALMACENAR DISTINTOS TIPOS DE DATOS 
#### * CADA ELEMENTO SE LLAMA ITEM
#### * COLOCAR LOS ELEMENTOS ENTRE () Y SEPARADOS DE POR COMAS

In [6]:
# TUPLA DE TUPLAS 
TUPLA1 = (1,2,3)
TUPLA2 = (4,5,6)
TUPLA3 = (7,8,9)

TUPLA4 = (TUPLA1 , TUPLA2 , TUPLA3)
print(TUPLA4)

print(TUPLA4[0][1])

((1, 2, 3), (4, 5, 6), (7, 8, 9))
2

In [13]:
##COUNT ---> DEVUELVE LA CANTIDAD DE VECES QUE APARECE UN ELEMENTO
LISTA1 = (1,2,3,3,3,3,5,6,6,6,6,6,6)
LISTA1.count(6)

6

In [10]:
#INDEX ---> DEVUELVE EL INDICE DE DETERMINADO ELEMENTO
TUPLA1 = (4,5,6)
TUPLA1.index()

1

# CONJUNTOS

##### * es una coleccion de datos que puede modificarse 
#### * no permite tener elementos repetidos 
#### * permite almacenar distintos tipos de datos 
#### * cada elemento se llama item
#### * colocar los elementos entre {} y separados de por comas 
#### * sin importar el orden que se ingresan, se guardan ordenados y sin repetirse

In [19]:
CONJUNTO = {6,8,5,7,4,2,3,9,8,1, True , False , "HOLA" , "CHAU"}
CONJUNTO

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'CHAU', False, 'HOLA'}

### OPERACIONES DE ELEMENTOS

##### ADD ---> AGREGAR ELEMENTOS AL CONJUNTO

In [22]:
CON1 = {0,3,4,5,6,1}
CON1.add(-10)
CON1

{-10, 0, 1, 3, 4, 5, 6}

In [26]:
#DISCARD ---> ELIMINAR ELEMENTOS DEL CONJUNTO
CON1 = {0,3,4,6,1}
CON1.discard(0)
CON1

{1, 3, 4, 6}

In [29]:
#CLEAR ---> ELIMINAR TODOS LOS ELEMENTOS DEL CONJUNTO
CON1 = {1,4,5,7,9,3,6,5}
CON1.clear()
CON1

set()

In [37]:
# ---> VALIDA SI ESTÁ EN EL CONJUNTO
CON1 = {0,1,5,4,8,6,1}
print(20 in CON1)
print(5 in CON1)
print(0 in CON1)
print(3 in CON1)
print(8 in CON1)

False
True
True
False
True

#### OPERACIONES DE CONJUNTOS

In [42]:
# COPIA INCORRECTA DE UN CONJUNTO
CON1 = {1,2,3}
CON2 = CON1

CON2.clear()
print(CON1)
print(CON2)

set()
set()

In [44]:
CON1 = {1,2,3}
CON2 = CON1.copy()

CON2.clear()

print(CON1)
print(CON2)

{1, 2, 3}
set()

In [41]:
CON1

set()

In [47]:
LISTA1 = [1,2,3]
LISTA2 = LISTA1

LISTA2.append(4)

print(LISTA1)
print(LISTA2)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [57]:
#CONVERTIR LISTA A CONJUNTO
LISTA1 = [0,2,3,3,3,3,1,2,5,8]
CON1 = set(LISTA1)
CON1

{0, 1, 2, 3, 5, 8}

In [58]:
#CONVERTIR CADENA A CONJUNTO
CADENA = "HOLA MUNDO 2021 XYZ"
CON1 = set(CADENA)
CON1

{' ', '0', '1', '2', 'A', 'D', 'H', 'L', 'M', 'N', 'O', 'U', 'X', 'Y', 'Z'}

In [59]:
#COMPARACION DE VARIOS CONJUNTOS 
CON1 = {1,2,3,4,5}
CON2 = {6,7,8}
CON3 = {5,6,7}
CON4 = {1,2,3}

# ISDISJOINT ---> SI NO COMPARTEN ELEMENTOS 
print(CON1.isdisjoint(CON2))
print(CON1.isdisjoint(CON3))

True
False

In [60]:
#COMPARACION DE VARIO CONJUNTOS 
CON1 = {1,2,3,4,5,}
CON2 = {6,7,8}
CON3 = {5,6,7}
CON4 = {1,2,3}

#ISSUBSET ----> VERIFICA SI ES CONJUNTO
print(CON3.issubset(CON1))
print(CON4.issubset(CON1))

False
True

In [62]:
#COMPARACION DE VARIOS CONJUNTOS
CON1 = {1,2,3,4,5}
CON2 = {6,7,8}
CON3 = {5,6,7}
CON4 = {1,2,3}

#ISSUPERSET ---> VERIFICA SI ES SUPERCONJUNTO
print(CON1.issuperset(CON3))
print(CON1.issuperset(CON4))

False
True

In [63]:
#OPERACIONES DE VARIOS CONJUNTOS 
CON1 = {1,2,3,4,5}
CON2 = {6,7,8}
CON3 = {5,6,7}
CON4 = {1,2,3}

#UNION ---> UNE 2 CONJUNTOS
print(CON1.union(CON2))
print(CON3.union(CON4))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 5, 6, 7}

In [66]:
#OPERACIONES DE VARIOS CONJUNTOS

CON1 = {1,2,3,4,5}
CON2 = {6,7,8}
CON3 = {5,6,7}
CON4 = {1,2,3}

#INSTERSECTION ---> INTERSECCION DE 2 CONJUNNTOS
print(CON1.intersection(CON3))
print(CON1.intersection(CON4))

{5}
{1, 2, 3}

In [67]:
#OPERACIONES DE VARIOS CONJUNTOS
CON1 = {1,2,3,4,5}
CON2 = {6,7,8}
CON3 = {5,6,7}
CON4 = {1,2,3}

#DIFFERENCE ----> DIFERENCIA DE 2 CONJUNTOS
print(CON1.difference(CON3))
print(CON3.difference(CON1))

{1, 2, 3, 4}
{6, 7}

In [68]:
#OPERACIONES DE VARIOS CONJUNTOS
CON1 = {1,2,3,4,5}
CON2 = {6,7,8}
CON3 = {5,6,7}
CON4 = {1,2,3}

#SYMMETRIC_DIFFERENCE --> DIFERENCIA SIMÉTRICA DE 2 CONJUNTOS
print(CON1.symmetric_difference(CON3))
print(CON3.symmetric_difference(CON1))

{1, 2, 3, 4, 6, 7}
{1, 2, 3, 4, 6, 7}

### PARTE 4.4 DICCIONARIOS

##### * Es una coleccion de datos que puede modificarse
##### * No permite tener elementos repetidos
##### * Permite almacenar distintos tipos de datos
##### * Cada elemento tiene una llave asociado a un valor (llaves deben ser unicas)
##### * Colocar los elementos {}, separados por comas y dos puntos entre llaves/valor

In [87]:
#DICCIONARIO >>>> LLAVE : VALOR
ANIMALES = {"PERRO":"DOG" , "GATO":"CAT" , "ZORRO":"FOX" , "TORO" : "BULL"}
EDADES = {"LEONEL":"L" , "JORGE":"E" , "MARIO":"O" , "NORMA":"N" , "JUAN":"E" , "LUIS":"L"}
EJEMPLO_DICT = {"A1":True , "A2":False , "A1":False , "A4" : True}

In [71]:
EJEMPLO_DICT

{'A1': False, 'A2': False, 'A4': True}

In [73]:
#AGREGAR ELEMENTOS A UN DICCIONARIO
ANIMALES["VACA"] = "COW"
ANIMALES

{'PERRO': 'DOG', 'GATO': 'CAT', 'ZORRO': 'FOX', 'TORO': 'BULL', 'VACA': 'COW'}

In [77]:
#ACCEDER AL VALOR DE UN DICCIONARIO
ANIMALES["PERRO"] , ["GATO"] , ["ZORRO"]
EDADES["LEONEL"]

'L'

In [79]:
#ACCEDER A LAS LLAVES DE UN DICCIONARIO
for X in EDADES:
    print(X)

LEONEL
JORGE
MARIO
NORMA
JUAN

In [88]:
#ACCEDER A LOS VALORES DE UN DICCIONARIO
for X in EDADES:
    print(EDADES[X])

L
E
O
N
E
L

In [92]:
for LLAVE,VALOR in ANIMALES.items():
    print(LLAVE ,"------", VALOR)

PERRO ------ DOG
GATO ------ CAT
ZORRO ------ FOX
TORO ------ BULL

In [93]:
for X in ANIMALES:
    print(X , "-------", ANIMALES[X])

PERRO ------- DOG
GATO ------- CAT
ZORRO ------- FOX
TORO ------- BULL

In [101]:
#DEL ----> ELIMINAR REGISTRO DEL DICCIONARIO
del(ANIMALES["PERRO"])

In [103]:
#GET ----> OBTENER EL VALOR
print(ANIMALES.get("ZORRO"))

FOX

In [104]:
#KEYS ----> ACCESO A LLAVES
ANIMALES.keys()

dict_keys(['GATO', 'ZORRO', 'TORO'])

In [105]:
#VALUES ---> ACCESO A VALORES
ANIMALES.values()

dict_values(['CAT', 'FOX', 'BULL'])

In [110]:
#ITEMS -----> ACCESO A LLAVES Y VALORES
ANIMALES.items()

dict_items([])

In [111]:
#CLEAR -----> ELIMINA TODOS LOS REGISTROS 
ANIMALES.clear()

In [113]:
#DEFAULT DICT ----> DICCIONARIO CON VALORES CON DEFECTO
from collections import defaultdict

ANIMALES_DEFAULT = {}
ANIMALES_DEFAULT = defaultdict(str)

ANIMALES_DEFAULT["GATO"] = "CAT"

In [114]:
ANIMALES_DEFAULT

defaultdict(str, {'GATO': 'CAT'})